@page "/add-item"
@using Items

@inject BlazorServerApp.Application.UseCases.ItemUseCases  ItemUseCases
@inject Blazored.Toast.Services.IToastService ToastService
@inject NavigationManager NavigationManager

<PageTitle>Add New Item</PageTitle>

<h1>Add New Item</h1>

<div class="card p-3">
    <EditForm Model="newItem" OnValidSubmit="AddNewItem">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <!-- Name Input -->
        <div class="mb-3">
            <label for="itemName" class="form-label">Name:</label>
            <InputText id="itemName" @bind-Value="newItem.Name" class="form-control" />
            <ValidationMessage For="@(() => newItem.Name)" />

        </div>

        <!-- Description Input -->
        <div class="mb-3">
            <label for="itemDescription" class="form-label">Description:</label>
            <InputText id="itemDescription" @bind-Value="newItem.Description" class="form-control" />
        </div>

        <!-- Quantity Input -->
        <div class="mb-3">
            <label for="quantityInStore" class="form-label">Quantity In Store:</label>
            <InputNumber TValue="int" @bind-Value="newItem.QuantityInStore" class="form-control" min="0" />
        </div>

        <!-- Submit Button with Loading Spinner -->
        <button type="submit" class="btn btn-primary w-100" disabled="@isLoading">
            @if (isLoading)
            {
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                @:Adding...
            }
            else
            {
                @:Add Item
            }
        </button>


    </EditForm>
</div>

@code {
    private CreateItem newItem = new CreateItem();
    private bool isLoading = false;

    private async Task AddNewItem()
    {
        isLoading = true;

        try
        {
            await ItemUseCases.CreateItemAsync(newItem);
            ToastService.ShowSuccess($"Item '{newItem.Name}' added successfully!");
            NavigationManager.NavigateTo("/inventory-dashboard");
        }
        catch (Exception ex)
        {
            ToastService.ShowError("An error occurred while adding the item.");
        }
        finally
        {
            isLoading = false;
        }
    }
}
