<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (!isAuthenticated)
                    {
                        <SEP3_T1_BlazorUI.Pages.Login />
                    }
                    else
                    {
                        <h1>Access Denied</h1>
                        <p>You do not have permission to view this page.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>


@code {
    [Inject] private NavigationManager NavigationManager { get; set; }

    private bool isAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        isAuthenticated =  false;    }
}
