@inherits LayoutComponentBase
@using Blazored.Toast
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <div class="page">
        @if (IsAuthenticated)
        {
            <div class="sidebar">
                <NavMenu />
            </div>
        }

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingAuthenticationState>

<BlazoredToasts />

@code {
    private bool IsAuthenticated = false;

    protected override async Task OnInitializedAsync()
    {
        // Subscribe to AuthenticationState changes
        AuthenticationStateProvider.AuthenticationStateChanged += OnAuthenticationStateChanged;

        // Initial check for user's authenticated state
        await CheckAuthentication();
    }

    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        await CheckAuthentication();
        await InvokeAsync(StateHasChanged);
    }

    private async Task CheckAuthentication()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        IsAuthenticated = user.Identity != null && user.Identity.IsAuthenticated;

        // Update Blazor's state to reflect the new UI
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        AuthenticationStateProvider.AuthenticationStateChanged -= OnAuthenticationStateChanged;
    }
}
