@inherits LayoutComponentBase
@using Blazored.Toast
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

<CascadingAuthenticationState>
    <div class="page">
        @if (ShowNavMenu)
        {
            <div class="sidebar">
                <NavMenu />
            </div>
        }

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingAuthenticationState>

<BlazoredToasts />

@code {
    private bool ShowNavMenu = false;

    protected override async Task OnInitializedAsync()
    {
        // Subscribe to AuthenticationState changes
        AuthenticationStateProvider.AuthenticationStateChanged += OnAuthenticationStateChanged;

        // Initial check for user's authentication and role
        await CheckAuthenticationAndRole();
    }

    private async void OnAuthenticationStateChanged(Task<AuthenticationState> task)
    {
        await CheckAuthenticationAndRole();
        await InvokeAsync(StateHasChanged);
    }

    private async Task CheckAuthenticationAndRole()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        // Check if user is authenticated and has the required role
        ShowNavMenu = user.Identity != null && user.Identity.IsAuthenticated &&
                      user.IsInRole("INVENTORY_MANAGER");

        // Update UI state
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        AuthenticationStateProvider.AuthenticationStateChanged -= OnAuthenticationStateChanged;
    }
}
